.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
}

.ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%; /* Ensures the flex container takes up the full width */
}

.ul li {
  margin: 0 10px;
}

.home {
  flex-grow: 1; /* This makes the 'Home' link take up available space on the left */
}

.rightLinks {
  display: flex; /* Items within this div will be aligned to the right */
  justify-content: flex-end; /* Align items to the right */
}

.rightLinks li {
  margin-left: 15px; /* Adds spacing between the right-side items */
}

.logoutButton {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 16px;
}

.logoutButton:hover {
  background-color: #d32f2f;
}

/* Remove underline from links and set color */
a {
  text-decoration: none;
  color: white;
}

/* Change color on hover */
a:hover {
  color: #ddd;
}