.editProfile_container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.editProfile_h2 {
  text-align: center;
  color: #d32f2f; /* Red title */
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.editProfile_form {
  display: flex;
  flex-direction: column;
}

.editProfile_input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box;
}

.editProfile_button {
  background-color: #d32f2f; /* Red button */
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
  margin-top: 10px;
}

.editProfile_button:hover {
  background-color: #b71c1c; /* Darker red on hover */
}

.editProfile_message {
  text-align: center;
  font-weight: bold;
  margin-top: 15px;
  color: red;
}

.editProfile_passwordContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.editProfile_toggleButton {
  background-color: #d32f2f; /* Red button */
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 0.8rem;
  border-radius: 5px;
  margin-left: 10px;
}

.editProfile_toggleButton:hover {
  background-color: #b71c1c; /* Darker red on hover */
}