.navBar_nav {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  padding: 10px 20px;
}

.navBar_ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.navBar_home {
  margin-right: auto;
}

.navBar_a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  margin: 0 10px;
}

.navBar_logo {
  height: 40px;
}

.navBar_rightLinks {
  display: flex;
  align-items: center;
}

.navBar_logoutButton {
  background-color: transparent;
  border: none;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  margin: 0 10px;
}