.navBar_nav {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 10px 20px;
  background-color: #000; 
}

.navBar_ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.navBar_ul li {
  margin: 0 10px;
  display: flex;
  align-items: center; 
}

.navBar_home {
  flex-grow: 1;
}

.navBar_rightLinks {
  display: flex;
  justify-content: flex-end;
}

.navBar_rightLinks li {
  margin-left: 15px;
  display: flex;
  align-items: center; 
}

.navBar_logoutButton {
  background-color: #d32f2f; 
  color: white !important;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 10px; 
}

.navBar_logoutButton:hover {
  background-color: #b71c1c;
}

.navBar_a {
  text-decoration: none !important;
  color: white !important;
}

.navBar_a:hover {
  color: #ddd !important;
}